<head>
    <title> Connection Details </title>
    <%- include('../partials/header.ejs')%>
</head>

    <div class = "content">

        <h4><%= connection.category%></h4>
        <h2><%= connection.title%></h2>
        <img src=<%= connection.image%> width="300" height="200">
        <h4><%= connection.details%></h4>
        <p>Location: <%= connection.location%></p>
        <small>Posted <%= connection.createdAt%> by <%= connection.author%></small>

        <form>
            <button type = "submit" formmethod="GET" formaction="/connections/<%=connection.id%>/edit">Edit</button>
            <button type = "submit" formmethod="POST" formaction="/connections/<%=connection.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
<%- include('../partials/footer.ejs')%>
