<%- include('../partials/header.ejs')%>
<div class = "content">
    <h2>Welcome, <%=user.firstName%></h2>
    <%if(connections.length){%>
        <p>You have created the following connections</p>
        <%connections.forEach(connection =>{%>
            <a href = '/connections/<%= connection.id%>'><p><%=connection.title%></p></a>
        <%});
    } else {%>
        <p>You Have Not Created Any Connections</p>
    <%}%>
</div>
<%- include('../partials/footer.ejs')%>